{"Defaults":{"solid":"Collide","trigger":"Trigger","ladder":"Ignore","water":"Trigger","player":"Collide","money":"Collide"},"Pairs":[{"a":"solid","b":"solid","r":"Collide"},{"a":"trigger","b":"playerclip","r":"Ignore"},{"a":"trigger","b":"solid","r":"Trigger"},{"a":"playerclip","b":"solid","r":"Collide"},{"a":"money","b":"money","r":"Ignore"},{"a":"player","b":"money","r":"Ignore"}],"__guid":"a694e4f8-e9bf-43a1-8ddc-94ab3f02b026","__schema":"configdata","__type":"CollisionRules","__version":1}